.yellowCircle {
    border-radius: 50%;
    background-color: #F0C63D;
    width: 4.44vw;
    height: 4.44vw;
}

.timeline {
    width: 100vw;
    /* margin-left: -5vw; */
    margin-bottom: 5vw;
}

.mob_timeline{
    display: none;
}

@media(max-width:700px) {
    .timeline{
        display: none;
    }

    .mob_timeline{
        margin-top: -60px;
        margin-left: 10vw;
        width: 80vw;
        display: block ;
    }
}