.Domain {
    display: flex;
    flex-direction: column;
    padding: 116px 8vw 40px 6vw;
    margin-bottom: 240px;
}

.domainHead {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    /* line-height: 37px; */
    color: #FAC949;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.Domain ul {
    padding-left: 0;
}

.Domain ul li {
    list-style-position: inside;
    /* padding-left: 24px; */
    /* bac[
        diskground-color: aliceblue; */
}

li::marker {
    display: block;
}

.domainHeading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    /* line-height: 20px; */
    color: rgba(0, 0, 0, 0.9);
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    /* display: inline; */
    text-transform: capitalize;
    margin-bottom: 0;
}

.domainText {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    color: #000000;
    margin-bottom: 24px;
    margin-top: 8px;
    /* margin-left: 24px; */
    /* background-color: #FAC949; */
}

#liItem {
    margin-left: 24px;
    margin-top: -26px;
}

@media(max-width:2500px) and (min-width:1500px) {
    .domainHeading {
        font-size: 1.6rem;
    }

    .domainText {
        font-size: 1.4rem;
        line-height: 28px;
    }

    .domainHead {
        font-size: 2.5rem;
    }

    .Domain {
        margin-bottom: 280px;
    }
}

@media(max-width:600px) {
    .Domain {
        padding-left: 6vw;
        padding-right: 5vw;
    }
}

@media(max-width:510px) {
    .Domain {
        padding-bottom: 320px;
    }
}