.Domain {
    display: flex;
    flex-direction: column;
    padding: 116px 10vw 8vw 80px;
}

.domainHead {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    line-height: 37px;
    color: #FAC949;
    margin-bottom:24px;
}

.domainHeading {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.9);
    margin-bottom: 16px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

.domainText {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    color: #000000;
    margin-bottom:24px;
}

@media(max-width:600px) {
    .Domain {
        padding-left: 6vw;
        padding-right: 5vw;
    }
}