.register {
    display: flex;
    flex-direction: column;
    width: 42vw;
    height: 1239px;
    background-color: gray;
    /* background: #FFFFFF; */
    border-radius: 8px;
    padding-top: 24px;
}

.regFlex {
    display: flex;
}

.cross {
    margin-right:3vw;
    margin-left:3vw;
    width:18px;
}

.arrow {
    margin-left:3vw;
    margin-right:3vw;
    width:18px;
}

.heading {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #252525;
}

#member {
    color: #FAC949;
}

.regName {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-left:7vw;
    margin-top:24px;
    margin-bottom:8px;
}

.regInputname {
    width: 25vw;
    height: 48px;
    background: none;
    outline: none;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    margin-left:7vw;
    padding-left:1vw;
}
::placeholder{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0,0,0,0.5);
}
#otherOption{
    display: none;
    width: 25vw;
    background: none;
    outline: none;
    border: none;
    margin-left:7vw;
    padding-left:1vw;
    border-bottom: 1px solid #D9D9D9;
    margin-top:12px;
}
#option{
    width: 25vw;
    /* height: 54px;
    background-color: #FAC949; */
}
#wrongName, #wrongEmail, #WrongPwd1, #WrongPwd2, #wrongBranch, #wrongNum{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 16px;
    color: #B00020;
    margin-top: 4px;
    width:26vw;
    display: none;
    margin-left:7vw;
}
#LEye{
    position: relative;
    top:32px;
    margin-left:19vw;
    margin-top:-16px;
}