#registerAs {
    margin-left: 5vw;
    margin-right: 5vw;
}

#regDiv {
    height: 500px;
}

.asRegister {
    width: 25vw;
    height: 50px;
    background: none;
    outline: none;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    margin-left: 7vw;
    padding-left: 1vw;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    margin-top: 24px;
    color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.asRegister:hover {
    border: 1px solid #FAC949;
    color: #FAC949;
}

#registerCA {
    font-size: 1.5rem;
    margin-right: 1vw;
    margin-left: 1vw;
}

#regMember {
    margin-top: 48px;
    margin-bottom: 12px;

}

#CA {
    margin-top: 36px;
}

/* #member{
    border-color: #FAC949;
    color:#FAC949
} */

.regContinue {
    width: 25vw;
    height: 48px;
    background: #FAC949;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #252525;
    margin-left: 7vw;
    border: none;
    outline: none;
    margin-top: 32px;
    cursor: pointer;
}

.register {
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 1400px;
    background: #FFFFFF;
    border-radius: 8px;
    padding-top: 4px;
    z-index: 5;
    /* background-color: aqua; */
    margin: auto;
    justify-content: center;
    /* overflow-x: hidden; */
    /* overflow-y: scroll; */
    /* align-items: center; */
}

.regFlex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 1vw;
    margin-top: -60px;
    margin-right:1vw;
}

.loginFlex {
    margin-top: 10px;
}

#loginHeadbox {
    margin-top: -40px;
    margin-bottom: 10px;
}

#fgtHeadbox {
    margin-top: -40px;
    margin-bottom: 10px;
}

#rstHeadbox {
    margin-top: -10px;
    margin-bottom: 10px;
}

#regCA {
    margin-top: -100px;
}

#LoginOpt {
    margin-top: -120px;
}

#memberReg {
    margin-top: 16px;
}

.cross {
    margin-right: 3vw;
    margin-left: 3vw;
    width: 18px;
    cursor: pointer;
}

.arrow {
    margin-left: 3vw;
    margin-right: 3vw;
    width: 18px;
    cursor: pointer;
}

#back{
    width:28px;
}

.heading {
    display: inline;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.08em;
    color: #252525;
}

#member {
    color: #FAC949;
}

.regName {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000000;
    margin-left: 7vw;
    margin-top: 16px;
    margin-bottom: 8px;
}

.regInputname {
    width: 25vw;
    height: 48px;
    background: none;
    outline: none;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    margin-left: 7vw;
    padding-left: 1vw;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    height: 48px;
}

.genders {
    margin-left: 7vw;
    display: flex;
    height: 50px;
}

.regGender {
    width: 7.5vw;
    margin-right: 1vw;
    height: 42px;
    background: none;
    outline: none;
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    padding-left: 1vw;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    cursor: pointer;
}

.regGender:hover {
    border: 1px solid #FAC949;
    color: #FAC949;
}

::placeholder {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.5);
}

#otherOption,
#otherCA {
    display: none;
    width: 25vw;
    background: none;
    outline: none;
    border: none;
    margin-left: 7vw;
    padding-left: 1vw;
    border-bottom: 1px solid #D9D9D9;
    margin-top: 12px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
}

#option {
    width: 25vw;
    /* height: 54px;
    background-color: #FAC949; */
}

#recaptcha {
    margin-left: 9vw;
    margin-top: 20px;
}

#wrongName,
#wrongEmail,
#WrongPwd1,
#WrongPwd2,
#wrongBranch,
#wrongNum,
#WrongPwdTeam1,
#WrongPwdTeam2,
#wrongCAEmail,
#wrongNameCA,
#wrongEmailCA,
#WrongPwdCA1,
#WrongPwdCA2,
#wrongBranchCA,
#wrongNumCA,
#wrongEmailLog1,
#wrongPwdLog1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 0.9rem;
    line-height: 16px;
    color: #B00020;
    margin-top: 4px;
    width: 26vw;
    display: none;
    margin-left: 7vw;
}

#LEye,
#TEye,
#CEye {
    position: relative;
    /* top: 32px; */
    left: 30vw;
    /* margin-top: -48px; */
}

#loginForm {
    margin-left: 0.5vw;
}

.inputPwd {
    margin-left: 5.6vw;
}

.regButton {
    width: 25vw;
    height: 48px;
    background: #FAC949;
    border-radius: 5px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #252525;
    margin-left: 7vw;
    border: none;
    outline: none;
    margin-top: 32px;
    cursor: pointer;
    margin-bottom:56px;
}

.forgotPass {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #252525;
    text-decoration: underline;
    margin-top: 8px;
    margin-left: 22.5vw;
    cursor: pointer;
}

.forgotText {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.05em;
    margin-left: 7vw;
    color: #252525;
    width: 25vw;
    margin-bottom: 16px;
}

.otpInputFlex {
    display: flex;
    margin-left: 3.5vw;
}

.otpInput {
    width: 3vw;
    height: 36px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    margin-bottom: 4px;
    margin-right: 1vw;
    padding: 4px 4px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 18px;
    margin-top: 16px;
    color: rgba(0, 0, 0, 0.9);
}

.resend {
    display: flex;
    margin-left: 7vw;
    margin-top: 8px;
}

#resendOtp {
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #000000;
    margin-right: 1vw;
}

#timer {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 20px;
    letter-spacing: 0.05em;
    color: #000000;
}

/* #teamForm {
    margin-left: -7vw;
} */

@media(max-width:1440px){
    #recaptcha {
        margin-left: 8.5vw;
    }
}

@media(max-width:1350px){
    #recaptcha {
        margin-left: 8.2vw;
    }
    .forgotPass{
        margin-left: 22vw;
    }
}

@media (max-width:1310px) {
    .register {
        width: 44vw;
    }

    .asRegister,
    .regInputname,
    .regButton,
    #otherOption,
    #otherCA,
    .regContinue {
        width: 28vw;
    }

    .regGender {
        height: 46px;
        width: 8.5vw;
    }

    #wrongName,
    #wrongEmail,
    #WrongPwd1,
    #WrongPwd2,
    #wrongBranch,
    #wrongNum,
    #WrongPwdTeam1,
    #WrongPwdTeam2,
    #wrongCAEmail,
    #wrongNameCA,
    #wrongEmailCA,
    #WrongPwdCA1,
    #WrongPwdCA2,
    #wrongBranchCA,
    #wrongNumCA,
    #wrongEmailLog1,
    #wrongPwdLog1,
    .forgotText {
        width: 28vw;
        font-size: 0.85rem;
    }

    #LEye,
    #TEye,
    #CEye {
        left: 32.4vw;
    }

    .forgotPass {
        margin-left: 24.6vw;
    }

    #recaptcha {
        margin-left: 9vw;
    }
}

@media(max-width:1220px) {
    #recaptcha {
        margin-left: 8.3vw;
    }
    .forgotPass {
        margin-left: 24vw;
    }
}

@media(max-width:1150px) {

    .heading {
        font-size: 1.6rem;
    }

    #registerAs {
        font-size: 1.8rem;
    }

    #wrongName,
    #wrongEmail,
    #WrongPwd1,
    #WrongPwd2,
    #wrongBranch,
    #wrongNum,
    #WrongPwdTeam1,
    #WrongPwdTeam2,
    #wrongCAEmail,
    #wrongNameCA,
    #wrongEmailCA,
    #WrongPwdCA1,
    #WrongPwdCA2,
    #wrongBranchCA,
    #wrongNumCA,
    #wrongEmailLog1,
    #wrongPwdLog1,
    .forgotText {
        width: 28vw;
        font-size: 0.8rem;
    }

    .register {
        width: 46vw;
    }

    .asRegister,
    .regInputname,
    .regButton,
    #otherOption,
    #otherCA,
    .regContinue {
        width: 30vw;
    }

    .regGender {
        width: 9vw;
    }

    #LEye,
    #TEye,
    #CEye {
        left: 34vw;
    }

    .inputPwd {
        margin-left: 5.2vw;
    }

    .forgotPass {
        margin-left: 25vw;
    }

    .otpInput {
        width: 4vw;
        margin-right: 1.5vw;
    }
}

@media(max-width:1100px){
    #recaptcha {
        margin-left: 7.4vw;
    }
}

@media(max-width:1080px){
    #registerCA{
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width:1050px) {
    .register {
        width: 48vw;
        
    }

    .asRegister,
    .regInputname,
    .regButton,
    #otherOption,
    #otherCA,
    .regContinue,
    .forgotText {
        width: 32vw;
    }

    #LEye,
    #TEye,
    #CEye {
        left: 36vw;
    }

    .regGender {
        width: 9.5vw;
    }

    .forgotPass {
        margin-left: 26vw;
    }

    #recaptcha {
        margin-left: 7.2vw;
    }
}

@media (max-width:950px) {
    .register {
        width: 50vw;
        padding-top: 8px;
    }

    .asRegister,
    .regInputname,
    .regButton,
    #otherOption,
    #otherCA,
    .regContinue,
    .forgotText {
        width: 34vw;
        height: 46px;
    }

    #LEye,
    #TEye,
    #CEye {
        left: 38vw;
    }

    .regGender {
        width: 10vw;
    }

    #wrongName,
    #wrongEmail,
    #WrongPwd1,
    #WrongPwd2,
    #wrongBranch,
    #wrongNum,
    #WrongPwdTeam1,
    #WrongPwdTeam2,
    #wrongCAEmail,
    #wrongNameCA,
    #wrongEmailCA,
    #WrongPwdCA1,
    #WrongPwdCA2,
    #wrongBranchCA,
    #wrongNumCA,
    #wrongEmailLog1,
    #wrongPwdLog1 {
        width: 34vw;
        font-size: 0.85rem;
    }

    .forgotPass {
        margin-left: 27vw;
    }

    .otpInput {
        width: 5vw;
        margin-right: 1.5vw;
    }
    #registerCA{
        margin-left: 0.5vw;
        margin-right: 0.5vw;
    }
    #regCA{
        margin-right:1vw;
    }
    #recaptcha{
        margin-left:7.8vw;
    }

    #teamReg{
        margin-top:-90px;
    }
}

@media(max-width:890px){
    #recaptcha {
        margin-left: 6.9vw;
    }
    #memberReg{
        margin-top: 4px;
    }
}

@media (max-width:870px) {
    .register {
        width: 56vw;
    }

    .regInputname,
    .regButton,
    #otherOption,
    #otherCA,
    .asRegister,
    .regContinue,
    .forgotText {
        width: 38.5vw;
        margin-left: 8.3vw;
    }

    .regName,
    #wrongName,
    #wrongEmail,
    #WrongPwd1,
    #WrongPwd2,
    #wrongBranch,
    #wrongNum,
    #WrongPwdTeam1,
    #WrongPwdTeam2,
    #wrongCAEmail,
    #wrongNameCA,
    #wrongEmailCA,
    #WrongPwdCA1,
    #WrongPwdCA2,
    #wrongBranchCA,
    #wrongNumCA,
    #wrongEmailLog1,
    #wrongPwdLog1 {
        margin-left: 8.3vw;
    }

    #LEye,
    #TEye,
    #CEye {
        left: 43vw;
    }

    .regGender {
        width: 12vw;
    }

    .inputPwd {
        margin-left: 5.8vw;
    }

    .genders {
        margin-left: 8vw;
    }

    #teamForm {
        margin-left: -9vw;
    }

    .forgotPass {
        margin-left: 31vw;
    }

    #loginForm {
        margin-left: -1vw;
    }

    .otpInputFlex {
        margin-left: 5vw;
    }

    .resend {
        margin-left: 10vw;
    }
    #recaptcha {
        margin-left: 9.5vw;
    }
}


@media (max-width:800px) {
    .register {
        width: 62vw;
    }

    .asRegister,
    .regInputname,
    .regButton,
    #otherOption,
    #otherCA,
    .regContinue,
    .forgotText {
        width: 42vw;
        margin-left:9vw;
    }

    #LEye,
    #TEye,
    #CEye {
        left: 47vw;
    }

    .regGender {
        width: 13vw;
    }
    #recaptcha {
        margin-left: 10vw;
    }
    .inputPwd{
        margin-left:6vw;
    }
    .forgotPass{
        margin-left: 34vw;
    }

}

@media (max-width:720px) {
    .register {
        width: 64vw;
    }

    .asRegister,
    .regInputname,
    .regButton,
    #otherOption,
    #otherCA,
    .regContinue,
    .forgotText {
        width: 45vw;
    }

    #LEye,
    #TEye,
    #CEye {
        left: 47vw;
    }

    .regGender {
        width: 13.5vw;
        margin-right:2vw;
    }

    .inputPwd {
        margin-left: 5.8vw;
    }

    .genders{
        margin-left:9vw;
    }

    #wrongName,
    #wrongEmail,
    #WrongPwd1,
    #WrongPwd2,
    #wrongBranch,
    #wrongNum,
    #WrongPwdTeam1,
    #WrongPwdTeam2,
    #wrongCAEmail,
    #wrongNameCA,
    #wrongEmailCA,
    #WrongPwdCA1,
    #WrongPwdCA2,
    #wrongBranchCA,
    #wrongNumCA,
    #wrongEmailLog1,
    #wrongPwdLog1 {
        width: 40vw;
    }

    .heading {
        font-size: 1.5rem;
    }

    #registerAs {
        font-size: 1.8rem;
    }

    .forgotPass {
        margin-left: 35vw;
    }

    #loginForm {
        margin-left: 0;
    }
    #recaptcha {
        margin-left: 9vw;
    }
    .otpInput{
        width:6vw;
    }
}

@media(max-width:690px){
    .forgotPass {
        margin-left: 34vw;
    }
    #LEye{
        left:49vw;
    }
}

@media(max-width:670px){
    #recaptcha {
        margin-left:8vw;
    }
    #registerCA{
        margin-left: 0vw;
        margin-right: 0vw;
    }
}

@media (max-width:630px) {

    .register {
        width: 68vw;
    }

    .asRegister,
    .regInputname,
    .regButton,
    #otherOption,
    #otherCA,
    .regContinue,
    .forgotText {
        width: 49vw;
    }

    #LEye,
    #TEye,
    #CEye {
        left: 51.5vw;
    }

    .regGender {
        width: 14.5vw;
    }

    #wrongName,
    #wrongEmail,
    #WrongPwd1,
    #WrongPwd2,
    #wrongBranch,
    #wrongNum,
    #WrongPwdTeam1,
    #WrongPwdTeam2,
    #wrongCAEmail,
    #wrongNameCA,
    #wrongEmailCA,
    #WrongPwdCA1,
    #WrongPwdCA2,
    #wrongBranchCA,
    #wrongNumCA,
    #wrongEmailLog1,
    #wrongPwdLog1 {
        width: 44vw;
    }

    .inputPwd{
        margin-left: 5.4vw;
    }

    .forgotPass {
        margin-left: 35vw;
    }

    #registerCA {
        font-size: 1.4rem;
    }
    #recaptcha {
        margin-left: 8.2vw;
    }
    #teamReg{
        margin-top:-100px;
    }
    #rstHeadbox {
        margin-top: -20px;
    }
}

@media (max-width:550px) {

    .register {
        width: 74vw;
    }

    .asRegister,
    .regInputname,
    .regButton,
    #otherOption,
    #otherCA,
    .regContinue,
    .forgotText {
        width: 55vw;
    }

    .regGender {
        width: 16.5vw;
        font-size: 0.9rem;
        margin-right: 2vw;
    }

    .inputPwd {
        margin-left: 5vw;
    }

    #LEye,
    #TEye,
    #CEye {
        left: 57vw;
    }

    .forgotPass {
        margin-left: 38vw;
    }
    #recaptcha {
        margin-left: 8.8vw;
    }
    .otpInput {
        width: 7vw;
        margin-right: 2vw;
    }
}

@media(max-width:530px){
    #recaptcha {
        margin-left:7vw;
    }
    #memberReg{
        margin-top: 0px;
    }
    .register{
        padding-top: 0;
    }
}

@media (max-width:490px) {
    .register {
        width: 80vw;
    }

    .asRegister,
    .regInputname,
    .regButton,
    #otherOption,
    #otherCA,
    .regContinue,
    .forgotText {
        width: 61vw;
        height: 44px;
    }

    .inputPwd {
        margin-left: 4.6vw;
    }

    #LEye,
    #TEye,
    #CEye {
        left: 63.5vw;
    }

    .regGender {
        width: 19vw;
        height: 45px;
    }

    #wrongName,
    #wrongEmail,
    #WrongPwd1,
    #WrongPwd2,
    #wrongBranch,
    #wrongNum,
    #WrongPwdTeam1,
    #WrongPwdTeam2,
    #wrongCAEmail,
    #wrongNameCA,
    #wrongEmailCA,
    #WrongPwdCA1,
    #WrongPwdCA2,
    #wrongBranchCA,
    #wrongNumCA,
    #wrongEmailLog1,
    #wrongPwdLog1 {
        width: 55vw;
        font-size: 0.8rem;
    }

    .forgotPass {
        margin-left: 42vw;
    }

    .heading {
        font-size: 1.45rem;
    }
    #recaptcha {
        margin-left: 8vw;
    }
    .otpInput{
        width:8vw;
    }
}

@media(max-width:470px){
    #recaptcha {
        margin-left: 7.2vw;
    }
}

@media(max-width:450px){
    #recaptcha {
        margin-left:8.6vw;
    }
    .otpInput {
        width: 8vw;
        margin-right: 2vw;
    }
    .register{
        width:86vw;
    }
    .asRegister,
    .regInputname,
    .regButton,
    #otherOption,
    #otherCA,
    .regContinue,
    .forgotText {
        width: 67vw;
        height: 44px;
    }
    .inputPwd {
        margin-left: 4vw;
    }

    .forgotPass{
        margin-left: 44vw;
    }
    #LEye,
    #TEye,
    #CEye {
        left: 67vw;
    }

    .regGender {
        width: 20vw;
        margin-right:2.2vw;
        height: 45px;
    }
    #registerCA{
        font-size: 1.3rem;
    }
    #back{
        width:24px;
    }
    #regCA{
        margin-right:2vw;
    }
    #teamReg{
        margin-top:-120px;
    }
    #rstHeadbox {
        margin-top: -30px;
    }
}
@media(max-width:420px){
    #recaptcha {
        margin-left:5.4vw;
    }
}

@media(max-width:400px) {
    .forgotPass {
        margin-left: 40vw;
    }

    #forgotHead{
       font-size: 1.4rem;
    }

    #registerAs {
        font-size: 1.5rem;
    }
    .register{
        width:90vw;
    }
    .regFlex{
        margin-right:7vw;
    }
    .asRegister,
    .regInputname,
    .regButton,
    #otherOption,
    #otherCA,
    .regContinue,
    .forgotText {
        width: 65vw;
        height: 42px;
    }

    .inputPwd {
        margin-left: 4.1vw;
    }

    #LEye,
    #TEye,
    #CEye {
        left: 66vw;
    }

    #wrongName,
    #wrongEmail,
    #WrongPwd1,
    #WrongPwd2,
    #wrongBranch,
    #wrongNum,
    #WrongPwdTeam1,
    #WrongPwdTeam2,
    #wrongCAEmail,
    #wrongNameCA,
    #wrongEmailCA,
    #WrongPwdCA1,
    #WrongPwdCA2,
    #wrongBranchCA,
    #wrongNumCA,
    #wrongEmailLog1,
    #wrongPwdLog1 {
        width: 58vw;
    }
    #recaptcha {
        margin-left:3vw;
    }
    #regCA{
        margin-right:6vw;
    }
    .otpInput{
        width:9vw;
    }
}

@media(max-width:380px){
    #recaptcha {
        margin-left:1vw;
    }
    .regFlex{
        margin-right:10vw;
        margin-left:3vw;
    }
    #back{
        width:28px;
    }
    #regCA{
        margin-right:10vw;
    }
    #registerCA{
        line-height:42px;
    }
}

@media(max-width:380px){
    .forgotPass{
        margin-left: 38vw;
    }
}

@media(max-width:360px){
    .inputPwd {
        margin-left: 3vw;
    }
    #recaptcha{
        margin-left: 0;
    }
    .forgotPass{
        margin-left: 36vw;
    }
    .otpInput{
        width:11vw;
        margin-right: 2.5vw
    }
}

@media(max-width:330px){
    .inputPwd {
        margin-left: 2.5vw;
    }
    .regFlex{
        margin-left:2vw;
        margin-right:12vw;
    }
    .forgotPass {
        margin-left: 32vw;
    }
}