.dbOuterDiv {
    display: flex;
    flex-direction: column;
    padding: 116px 6vw 80px 8vw;
}

.dashboard {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 2rem;
    /* line-height: 37px; */
    color: #000000;
}

.dbHead1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #999999;
    margin-top: 8px;
    margin-bottom: 8px;
}

.dbHR1 {
    background: #D9D9D9;
    border-radius: 2px;
    /* border-style: none; */
    border-bottom-width: 2px;
    margin-bottom: 36px;
}

.dbHR2 {
    background: #D9D9D9;
    border-radius: 2px;
    width: 34vw;
    margin-bottom: 32px;
}

.dbBtns {
    display: flex;

}

.dbCancel {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 20px;
    color: #000000;
    width: 8vw;
    height: 40px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    margin-right: 1.5vw;
}

.dbSave {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 20px;
    color: #FFFFFF;
    width: 8vw;
    height: 40px;
    background: #1A73E8;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
}

.dbSave:disabled {
    opacity: 0.5;
}

.dbFlex1 {
    display: flex;
    gap: 24px;
}

.dbHead {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 20px;
    color: #000000;
    width: 20vw;
    margin-bottom: 8px;
}

.dbText {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 15px;
    color: #999999;
    width: 18vw;
}

.teamID_box {
    width: 24vw;
    height: 40px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 15px;
    color: #999999;
    text-transform: capitalize;
    padding: 8px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.synopsis {
    text-transform: none;
    width: 24vw;
    height: 40px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 15px;
    color: #999999;
    padding: 8px;
    cursor: pointer;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.synopsis>a {
    color: #999999;
}

.file_box {
    width: 11vw;
    height: 80px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    margin-left: 8vw;
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#uplPaper1 {
    width: 11vw;
    height: 80px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    margin-left: 8vw;
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#uplPaper2 {
    width: 24vw;
    height: 40px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 15px;
    color: #999999;
    text-transform: capitalize;
    padding: 10px 2vw 10px 2vw;
    margin-left: 8vw;
}

.uploadText {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 10px;
    color: #000000;

}

#editFile,
#remove {
    cursor: pointer;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 16px;
    color: #B00020;
    margin-top: 4px;
    margin-left: 1vw;
    /* width:24vw; */
}

#dbFiles {
    display: flex;
    flex-direction: column;
}

.fileFlex {
    display: flex;
    width: 24vw;
    justify-content: flex-end;
}

.fileIcon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-bottom: 8px;
}

.member_box {
    display: flex;
    width: 46vw;
    height: 40px;
    margin-bottom: 0;
    background: #F3F5F6;
    justify-content: space-around;
    align-items: center;
}

.member_box>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #999999;
    margin-bottom: 0;
}

.member_box_data {
    display: flex;
    width: 46vw;
    padding-top: 9px;
    justify-content: space-around;
    /* gap:68px; */
    margin-top: 16px;
    margin-bottom: 12px;
    border-bottom: 1px solid #D9D9D9;
    padding-left: 0;
    background-color: #1A73E8;
}

.member_box_data>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #000;
    max-width: 18vw;
    white-space: pre-wrap;
    word-wrap: break-word;
    /* width:28vw; */
}

#rank {
    position: relative;
}

.team_box_data {
    display: flex;
    width: 46vw;
    /* padding-top: 9px; */
    align-items: center;
    /* justify-content: space-around; */
    margin-top: 16px;
    margin-bottom: 12px;
    background-color: #1A73E8;
    padding-right: 1vw;
    padding-left: 1vw;
}

.team_box_data>p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    color: #000;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    /* width:28vw; */
    width: 12vw;
    
/* margin-right:2vw; */
    background-color: #31DCA9;
    margin-bottom: 0;
}


/* dialog */

#dbDialog {
    position: absolute;
    top: 240px;
    right: 6vw;
    width: 24vw;
    /* height: 160px; */
    background: #F3F5F6;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 1vw;
    /* position: fixed; */
}

#dialImg {
    width: 48px;
    height: 48px;
    margin-bottom: 8px;

}

#dialText1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 17px;
    color: #31DCA9;
    margin-bottom: 4px;
}

#dialText2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 0.9rem;
    line-height: 17px;
    color: #252525;
    text-align: justify;
    margin-bottom: 0;
}

@media(max-width:1200px) {
    .member_box {
        padding-top: 8px;
    }

    .dbCancel,
    .dbSave {
        width: 10vw;
    }

    .dbHead {
        width: 25vw;
    }

    .member_box,
    .member_box_data,
    .team_box_data {
        width: 51vw;
    }

    #dbDialog {
        width: 24vw;
    }
}

@media(max-width:1130px) {
    #dbDialog {
        padding: 24px 1vw;
    }
}

@media(max-width:1000px) {

    .dbCancel,
    .dbSave {
        width: 10vw;
    }

    #dbDialog {
       width:26vw;
    }

    .file_box {
        width: 14vw;
    }

    .teamID_box,
    .synopsis {
        width: 30vw;
    }

    .dbHead {
        width: 20vw;
    }

    .dbHR2 {
        width: 45vw;
    }

    .member_box,
    .member_box_data,
    .team_box_data {
        width: 52vw;
    }
}

@media(max-width:950px) {
    .dbCancel,
    .dbSave {
        width: 12vw;
    }

    .member_box,
    .member_box_data,
    .team_box_data {
        width: 53vw;
    }
}

@media(max-width:900px) {
    .teamID_box , .synopsis{
        width: 32vw;
    }

    .member_box,
    .member_box_data,
    .team_box_data {
        width: 55vw;
    }
    #dbDialog {
        width:28vw;
        padding:16px 1vw;
        right:4vw;
     }
}

@media(max-width:800px) {
    .dbText {
        /* width: 22vw; */
    }

    .file_box {
        width: 18vw;
    }

    .member_box>p,
    .team_box_data>p {
        font-size: 0.9rem;
    }

    .member_box,
    .member_box_data,
    .team_box_data {
        width: 55vw;
    }
    #dbDialog {
        width:30vw;
        padding:8px 1vw;
        right:2vw;
     }
     .teamID_box,.synopsis{
        margin-left: 0;
     }
}

@media(max-width:600px) {
    .dbText {
        width: 26vw;
    }

    .teamID_box {
        /* margin-left: 4vw; */
        width: 38vw;
    }

    .file_box {
        width: 22vw;
    }

    .member_box,
    .team_box_data {
        width: 64vw;
    }

    .member_box_data {
        width: 64vw;
    }

    .dbSave,
    .dbCancel {
        width: 14vw;
    }

    .dbHead {
        width: 25vw;
    }

    .member_box,
    .member_box_data,
    .team_box_data {
        width: 74vw;
    }
}

@media(max-width:500px) {
    .teamID_box {
        width: 40vw;
        margin-left: 4vw;
    }

    .member_box,
    .team_box_data {
        width: 72vw;
    }

    .member_box_data {
        width: 72vw;
    }

    .dbSave,
    .dbCancel {
        width: 18vw;
        margin-right: 2vw;
    }

    .dbHead {
        width: 28vw;
    }

    .dbHR2 {
        width: 50vw;
    }

    .member_box,
    .member_box_data,
    .team_box_data {
        width: 77vw;
    }
}

@media(max-width:450px) {

    .dbSave,
    .dbCancel {
        width: 20vw;
    }

    .dbText {
        width: 30vw;
    }

    .file_box {
        width: 22vw;
    }

    .file_box {
        width: 26vw;
    }

    .teamID_box {
        width: 42vw;
        margin-left: 4vw;
    }

    .member_box,
    .team_box_data {
        width: 72vw;
    }

    .member_box_data {
        width: 72vw;
    }

    .member_box,
    .member_box_data,
    .team_box_data {
        width: 80vw;
    }
}

@media (max-width:400px) {
    .file_box {
        width: 30vw;
    }

    .dbHead {
        width: 30vw;
    }

    .dbHR2 {
        width: 55vw;
    }

    .member_box,
    .member_box_data,
    .team_box_data {
        width: 82vw;
    }
}

@media (max-width:350px) {
    .file_box {
        width: 30vw;
    }

    .dbHead {
        width: 28vw;
        font-size: 0.9rem;
    }

    .dbHR2 {
        width: 55vw;
    }
}